h2 {
  color: #9397d8;
  font-size: 22px;
  margin-top: 0;
}

.price-total {
  background:  #9179b7;
  float: right;
  margin: 0px 0;
  padding: 20px 50px;
}

.cash {
  background: #000;
  border: none;
  display: inline-block;
  height: 30px;
  margin: 0px;
  width: 150px;
}

/* ----- State ----- */

.unavailble {
  background: #505050;
}

.unavailble .button {
  background: #707070;
  color: #aeaeae;
}
